.title{
    text-align: center;
    color: red;
    font-size: 20px;
    width: 100%;
}

.paginationDiv{
    text-align: center;
    float: left;
    width:50%;
    margin-top: 5%;
}

.chartDiv{
    float: right;
    width: 50%;
    margin-top: 5%;
}

.clear:after {
    content: '';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.loginTableDiv{
    width:100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

.loginTableDiv table{
    margin-left:43%;
}